@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&family=Special+Elite&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    
    font-family: 'Oswald', sans-serif;     
    font-size: 16px;
    background-color: #dbe2d7;
    color: rgb(16 16 16 / 88%);;
    margin:0;
}

 h1 {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
 }

/* ---------- NAVIGATION ---------- */
.navbar {
    background-color:#67ca2b99;
    font-size: 130%;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 5px;  
}

#navbarNav {
    justify-content: flex-end;
}

.logo {
    width: 50%;
    height: 50%;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #dbe2d7;
    
}
.navbar-light .navbar-nav .nav-link:hover {
     color: rgb(16 16 16 / 88%);
   
}

.navbar-brand {
    margin-right: 0px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(16 16 16 / 88%);
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color:#dbe2d7;
}

/* ---------- HERO IMAGE ---------- */
/* ----- Credit: Form inspiration from CI Love Running mini-project -----*/
#hero-image {
    height: 100vh;
    width: 100%;
    background: url("../images/proba1.jpg") no-repeat center center;
    
   
    animation-name: hero-image-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}  

#hero-outer {
    height: 100vh;
    width: 100%;
     /*clear:both; to moze byc zamiast overflow:hidden*/
    clear: both;
    position: relative;
}

@keyframes hero-image-zoom {
    from {transform: scaleX(1);}
    to {transform: scaleX(1.1);}
}

#cover-text, #cover-text h2 {
    color: #dbe2d7;
    }

#cover-text {
    font-size: 120%;
    width: 607px;
    height: 240px;
    padding: 20px;
    background-color: rgba(255, 8, 0, 0.459);
    position: absolute;
    bottom: 596px;
    right: 84px;
    border-radius: 22px;

    animation-name: hero-image-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#cover-text h2 {
    font-size: 36px;
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    text-shadow: -1px -1px 6px rgba(150, 150, 150, 1);
    }

#cover-text h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
}

.dotted-line {
    text-align: center;
}

/*w3school customized lines*/
.dot {
  font-family: 'Special Elite', cursive;
  height: 5px;
  width: 5px;
  background-color: #dbe2d7;
  text-shadow: -1px -1px 6px rgba(150, 150, 150, 1);
  border-radius: 50%;
  display: inline-block;
  letter-spacing: 10px;

}




/* ---------- FOOTER---------- */

footer {
	width: 100%;
	bottom: 0px;
	height: 4.5rem;
    background-color:#67ca2b99;
    color: #dbe2d7;
    font-weight: 300;
	display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	align-items: center;
	position: fixed;
	z-index: 1020;
}

footer .contact {
	width: 60%;
	margin: auto 8px;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(16 16 16 / 88%);
	align-items: center;	
}

.contact a {
    color: rgb(16 16 16 / 88%);
    margin-right: 10px;
    padding-left: 13px;
  
}
.contact a:hover {
    color:#dbe2d7;
    text-decoration: none;
    margin-right: 10px;
    padding-left: 13px;
    margin-left: 10px;
}

.social-network {
	list-style: none;
	    display: -webkit-box;
        display: -ms-flexbox;
        color: #dbe2d7;
	display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
	justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
	align-items: center;
	width: 40%;
	margin: auto 5%;
}

.social-network a {
    font-size: 1.5rem;
     color: rgb(16 16 16 / 88%);
	margin: 5px;
	padding: 5px;
}

.social-network i:hover{
     color:#dbe2d7 ;
 }
